body {
    font-family: Andale Mono, monospace;
    background-color: #FFFFFD;
    color: #ACA279;
    font-size: 20px;
}

header {
    background-color: #faf6e9;
    border-bottom: 3px solid #6D6339;
    color: #897E53;
    font-family: monospace;
    font-weight: 600;
}

.img4 {
    text-align: center;
    margin: 0px;
    background-color: #fafaf4;
}

header a {
    padding: 0px;
    margin: 30px;
    font-weight: 900;
}

h1 {
    text-align: center;
    font-family: Fantasy, Copperplate;
    margin: 20px 100px 50px 100px;
    font-weight: 100;
    font-size: 45px;
}

header img {
    height: 30px;
    width: 52px;

}

h2, h3 {
    color: #6D6339;
    font-family: Fantasy, Copperplate;
    font-size: 40px;
    font-weight: 500;
}

h2 {
    border-bottom: 4px solid #6D6339;
    width: 199px;
    height: 50px;
    margin: 30px 0px 2px 10px;
}

main img {
    margin-top: 50px;
    width: 400px;
    height: 300px;
    border: 15px ridge #4e4935;
}

h3 {
    margin-left: 40px;
}

main p {
    border-left: 4px solid #6D6339;
    margin: 30px;
    background-color: #fafaf4;
    text-align: justify;
}



footer {
    background-color: #524d39;
    padding: 30px
}

footer p {
    background-color: #f3ecce;
    padding: 20px;
    color: #8b8467;
    
}

footer a {
    color: #bdb595;
    text-decoration: none;
}

nav a {
    color: #a89e73;
    text-decoration: none;
}

.navigation {
    background-color: #f5f0dd;
    margin: 10px;
    padding: 30px;
    border: 6px double #6D6339
}

.special {
    color: #6D6339;
    font-size: 30px;
    font-family: Fantasy, Copperplate;
    font-weight: 900;
}

.naviga {
    color: #c0baa0;
    font-size: 19px;
      font-weight: 600;
}

.navig {
    color: #6D6339;
    font-size: 23px;
    border-bottom: 3px solid #6D6339;
    font-weight: 900;
}


.vvv {
    text-align: center;
    padding: 0px 50px 5px 50px;
}
